<!-- tasks/templates/tasks/project_form.html -->

{% extends 'base.html' %} {% block title %}{{ action }} Project - WorkWave
{%endblock %} {% block content %}

<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900">Create a new project</h2>
    <form method="post">
      {% csrf_token %}
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900"
          >
            Name</label
          >
          <input
            type="text"
            name="name"
            id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
            placeholder="Type product name"
            required=""
          />
        </div>
        <div class="w-full">
          <label
            for="start_date"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Start Date</label
          >
          <input
            type="date"
            name="start_date"
            id="start_date"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
            required=""
          />
        </div>
        <div class="w-full">
          <label
            for="end_date"
            class="block mb-2 text-sm font-medium text-gray-900"
            >End Date</label
          >
          <input
            type="date"
            name="end_date"
            id="end_date"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
            placeholder="$2999"
            required=""
          />
        </div>

        <div class="sm:col-span-2">
          <label
            for="description"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Description</label
          >
          <textarea
            id="description"
            name="description"
            rows="8"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Your description here"
          ></textarea>
        </div>
      </div>
      <button
        type="submit"
        class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800"
      >
        Add project
      </button>
      <a
        href="{% url 'project_list' %}"
        class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-red-500 rounded-lg focus:ring-4 focus:ring-red-200 hover:bg-red-700"
      >
        Cancel
      </a>
    </form>
  </div>
</section>
{% endblock %}
