<!-- tasks/templates/tasks/task_form.html -->
{% extends 'base.html' %} {% block content %}

<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900">{{ action }} a Task</h2>
    <form method="post">
      {% csrf_token %}
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900"
          >
          </label>
          <input
            type="text"
            name="name"
            id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
            placeholder="Type product name"
            required=""
          />
        </div>
        <div class="w-full">
          <label
            for="due_date"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Due Date</label
          >
          <input
            type="date"
            name="due_date"
            id="start_date"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
            required=""
          />
        </div>

        <div>
          <label
            for="category"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Status</label
          >
          <select
            id="category"
            name="status"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
          >
            {% for choice in form.status %} {{choice}} {% endfor %}
          </select>
        </div>

        <div>
          <label
            for="category"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Assigned to</label
          >
          <select
            id="category"
            name="assigned_to"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
          >
            {% for choice in form.assigned_to %} {{choice}} {% endfor %}
          </select>
        </div>

        <div>
          <label
            for="category"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Project</label
          >
          <select
            id="category"
            name="project"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
          >
            {% for choice in form.project %} {{choice}} {% endfor %}
          </select>
        </div>

        <div class="sm:col-span-2">
          <label
            for="description"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Description</label
          >
          <textarea
            id="description"
            name="description"
            rows="8"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Your description here"
          ></textarea>
        </div>
      </div>
      <button
        type="submit"
        class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800"
      >
        {{ action }} Task
      </button>
      <a
        href="{% url 'project_list' %}"
        class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-red-500 rounded-lg focus:ring-4 focus:ring-red-200 hover:bg-red-700"
      >
        Cancel
      </a>
    </form>
  </div>
</section>
{% endblock %}
